export(binmod, plot.binmod, predict.binmod, print.binmod)
importFrom("glmnet", "cv.glmnet")
importFrom("grDevices", "dev.off", "postscript")
importFrom("graphics", "arrows", "axis", "layout", "legend", "mtext", "par", "plot", "plot.new")
importFrom("stats", "coef", "cor", "glm", "na.exclude", "predict", "var")
S3method(plot, binmod)
S3method(predict, binmod)
S3method(print, binmod)
